{
  "env": {
    "test": {
      "presets": ["@babel/preset-env", "@babel/preset-react"],
      "plugins": ["transform-export-extensions"],
      "only": [
        "./**/*.jsx",
        "./**/*.js",
        "node_modules/jest-runtime"
      ]
    }
  }
}