
.account {

  header {
    padding: 12px 12px;
    margin: 0px 0px 20px 0px;
    display: grid;
    grid-template-columns: 80px 1fr;
    align-items: center;
    background-color: #fff;
    box-shadow: 1px 1px 5px #0000008f;
    width: 100%;
  }

  header nav span {
    display: block;
    width: 30px;
    height: 3px;
    background-color: #23a158;
    margin: 4px;
  }
  .smallSpan {
    width: 25px;
  }

  header h1 {
    display: inline;
    font-size: 26px;
    margin: 5px;
    color: #131313;
  }

  /* header end */

  .userName {
    display: grid;
    grid-template-columns: 1fr 30px;
    align-items: center;
    grid-gap: 5px;
  }

  .userName img {
    width: 24px;
    height: 24px;
    justify-self: end;
  }

  .userName p {
    align-self: start;
    padding: 5px;
  }
  .userName .pen {
    align-self: start;
  }

  .sectionTwo {
    padding: 25px 10px;
    grid-template-columns: repeat(3, minmax(100px, 1fr));
    justify-items: center;

    margin: auto;
    max-width: 400px;
    display: flex;
    justify-content: space-between;
  }

  .sectionTwo div.account-tabs {
    text-align: center;
  }

  .sectionTwo img {
    width: 60px;
    height: 50px;
  }

  .sectionTwo p {
    color: #6a6666;
    font-weight: 600;
    font-size: 16px;
  }

  .activeSpan {
    display: block;
    padding: 2px;
    margin: 10px;
    width: 70%;
    height: 3px;
    background-color: #1fb1c4;
  }

  p.active {
    color: #1fb1c4;
  }

  .sectionThree {
    margin-top: 15px;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
    grid-row-gap: 25px;
    padding-bottom: 100px;
  }

  .group {
    position: relative;
  }

  .firstInput {
    padding: 14px 3px 10px 5px;
    margin: 5px;
    border: none;
    font-size: 16px;
    color: #131313;
  }
  .placeholder {
    position: absolute;
    font-size: 9px;
    top: 0px;
    padding: 1px;
    margin: 4px 6px;
    color: #00000080;
  }

  .firstSelect {
    padding: 14px 3px 10px 3px;
    width: 200px;
    margin: 3px;
    border: none;
    font-size: 16px;
    color: #131313;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
  .selectDiv {
    position: relative;
  }
  .selectDiv:after {
    content: ">";
    font-size: 20px;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    right: 15px;
    top: 12px;
    position: absolute;
    pointer-events: none;
    color: #131313b0;
    font-weight: 600;
  }

  .btn {
    background: none;
    padding: 2px;
    border: 2px solid #1fb1c4;
    width: 60px;
    margin: 0;
    border-radius: 0;
  }

  .btnGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    padding: 5px;
  }
  .btnGrid h3 {
    color: #7b7373;
  }
  .btnGrid img {
    width: 100%;
    height: 100%;
  }
  .postTo {
    font-size: 16px;
    font-weight: 100;
    padding: 0 3px;
    color: #7b7373;
  }
  .btnRight {
    justify-self: end;
    border-right: none;
  }
  .btnLeft {
    justify-self: start;
    padding: 4px;
  }

  .selectImageGrid {
    display: grid;
    padding: 10px 45px 10px 1px;
    grid-template-columns: 50px 1fr;
    justify-items: start;
    align-items: center;
    grid-gap: 15px;
  }

  .selectImageGrid p {
    font-size: 14px;
    color: #6a6666;
  }

  .btnCreate {
    background-color: #1fb1c4;
    color: #fff;
    border: none;
    width: 160px;
    height: 40px;
    text-align: center;
    border-radius: 50px;
    font-size: 16px;
    font-weight: 600;
    box-shadow: 1px 5px 5px #1fb1c459;
    letter-spacing: 1.5px;
  }

  .account-tabs {
    cursor: pointer;
  }

}
