
html.plt-mobile .ItemModal {
  inset: 0px;
  border: 0px;
  padding: 0px;
}

.ItemModal {
  background-color: var(--ion-card-background-color);
  color: var(--ion-card-color);

  overflow: auto;
  max-height: 90vh;

  max-width: 800px;
  min-width: 300px;
  width: 80vw;

  margin: auto;

  inset: 40px;
  border: 1px solid rgb(204, 204, 204);
  overflow: auto;
  border-radius: 4px;
  outline: none;
  padding: 20px;
}

.ItemModalOverlay {
  position: fixed;
  inset: 0px;
  background-color: rgba(125,125,125, 0.3);

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 2;
}

.ItemModalPortal {}
