
.theme-light {
  animation:spin 1s linear;
  background-image: url('../application/45x45_day-night-2.png');
}
.theme-dark {
  animation:spin 1s linear;
  // transform:rotate(180deg);
  background-image: url('../application/45x45_day-night-3.png');
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(180deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(180deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(180deg);
    transform:rotate(180deg);
  }
}
