
/*
 * Mobile
**/

.ItemModal {
  // position: absolute;
  // inset: 40px;
  // border: 1px solid rgb(204, 204, 204);
  background: rgb(255, 255, 255);
  overflow: scroll;
  // border-radius: 4px;
  // outline: none;
  // padding: 20px;
  height: 100vh;
}

